dynamic_memory
func
func_var
math_point
pass
point
size
bank_account
record.data
calc
rand
over_load
recursion
array_func
pass_by
col
coloring

list of the project in cpp you can find
https://googler700.blogspot.com/2015/04/project-list.html
https://www.codewithc.com/c-projects-with-source-code/
http://cppprojectsolve.blogspot.com/